// showing default values
$accentColor = #0095df
$textColor = #303947
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961
